<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542735945930-avv5f7q76dhsfh1ceh6sica1cg7e3m9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542735945930-avv5f7q76dhsfh1ceh6sica1cg7e3m9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDGSledAwwPqFB64S0239nMWnDje2gASp4</string>
	<key>GCM_SENDER_ID</key>
	<string>542735945930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.durul.LEDManager</string>
	<key>PROJECT_ID</key>
	<string>fir-express-71f82</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-express-71f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:542735945930:ios:c05e09c3ce64b38c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-express-71f82.firebaseio.com</string>
</dict>
</plist>